.devise_form
  %h2 #{ t 'edit' }
  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
    .field
      = f.label :email, class: 'label'
      .control
        = f.email_field :email, class: 'input', autocomplete: "email"
    .field
      = f.label :password, class: 'label'
      .control
        = f.password_field :password, class: 'input', autocomplete: "new-password"
    .field
      = f.label :password_confirmation, class: 'label'
      .control
        = f.password_field :password_confirmation, class: 'input', autocomplete: "new-password"
    .field
      = f.label :current_password, class: 'label'
      .control
      = f.password_field :current_password, class: 'input', autocomplete: "current-password"
    .actions
      = f.submit class: 'button is-info'
  .spacing
    %h3 #{t 'cancel_my_account'}
    %p
      #{t 'unhappy'}? #{button_to "#{t 'cancel_my_account'}", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete}
    = link_to "#{t 'back'}", :back
