.card_comments
  %h3
    %i.fas.fa-comments
    #{ t 'comment' }(s)
  .icones.mt-4
    .tags.has-addons
      %span.tag
        %b.mr-2 #{ origem.total_comments }
        #{ t 'comment' }(s) &nbsp;
        %span
          %i.fas.fa-comment-alt

  - if user_signed_in?
    .comment_form.mt-5
      = form_with(model: @comment, local: true) do |form|
        = form.hidden_field :post_id, value: origem.id
        .field
          .control
            = form.text_area :commenter, class: 'textarea', rows: 2
        .field.has-text-right
          = form.submit "#{ t 'add' }", class: 'button is-info is-small'

  - else
    -# TODO: Recado para quem não é inscrito ...
