.aside_container.mb-3.has-background-dark
  -# .titles
    %i.fas.fa-pencil-alt
    #{ t 'author' }
  .user_detail.p-3
    .user_image
      = get_avatar(profile)
    .user_description.has-text-white
      %div
        #{ profile.name }
      %span
        @#{ profile.username }

  .btn_action.has-text-centered.mt-1
    - if user_signed_in?
      - if current_user != profile
        - if are_friends(current_user.id, profile)
          = link_to '#', class: 'btn-amigos button is-primary is-small is-fullwidth' do
            %i.fas.fa-check-circle.mr-3
            amigos
        - elsif current_user.status_friends(profile) == false
          .action.has-text-white.is-size-5
            = link_to '#', class: 'btn-adicionar button is-info is-small', data:{social_id: profile.id } do
              %i.fas.fa-user-plus.mr-3
              adicionar
        - else
          = link_to '#', class: 'btn-aguardando button is-light is-small is-static' do
            aguardando ...
