%h2.has-text-centered.mb-5.mt-4 #{ title }

=form_with(model: post, local: true) do |form|
  = form.hidden_field :type_subject, value: params[:type_subject]
  .field
    = form.label :title, class: 'label'
    .control
      = form.text_field :title, class: 'input'
  .field
    = form.label :tag_list, "Tags (separe as tags com virgulas)", class: 'label'
    .control
      = form.text_field :tag_list, class: 'input'
  .field
    = form.label :body, class: 'label'
    .control
      = form.rich_text_area :body, style: 'min-height: 600px; height: auto'
  - if params[:type_subject] == 'post'
    .columns
      - if params[:action] == 'edit' && post.upload.attached?
        .column.is-2
          .image_edit.has-text-right
            %span
              = image_tag post.upload
      .column
        .field
          = form.label "#{ t 'image' }", class: 'label'
          .control
            = form.file_field :upload, require: true
  - else
    .columns
      - if params[:action] == 'edit' && post.upload.attached?
        .column.is-2
          .image_edit.has-text-right
            %span
              = image_tag post.upload
      .column
        .field
          = form.label :streaming, class: 'label'
          .control
            = form.file_field :streaming
      .column
        .field
          = form.label "#{t 'image'}", class: 'label'
          .control
            = form.file_field :upload, require: true

  .field.has-text-right.mb-5
    = form.submit "#{ t 'confirm' }", class: 'button is-info'
