%link{href: "https://vjs.zencdn.net/7.10.2/video-js.css", rel: "stylesheet"}
%main
  = render 'shared/banner'
  .container
    .wrapper_content
      .wrapper_grids
        .show_content
          %h1 #{ @post.title }
          .show_dates.mb-5
            #{ l @post.created_at, format: :long }
          .show_votable
            %div
              = render 'users/avatar', profile: @post.user
              - if @post.upload.attached?
                .streaming_container.has-text-centered.mt-3
                  %span
                    %video{id: "my-video", class: "video-js", controls: '', preload: "auto", width: "640", height: "", poster: "#{url_for(@post.upload)}", data:{setup:"{}"}}
                      %source{src: "#{url_for(@post.streaming)}", type: "video/mp4"}
            %div
              .icones.mt-4
                .tags.has-addons
                  = link_to like_post_path(@post), method: :put, class: 'tag like' do
                    = @post.get_upvotes.size
                    %span.ml-2
                      %i.fas.fa-thumbs-up
                  = link_to unlike_post_path(@post), method: :put, class: 'tag like' do
                    = @post.get_downvotes.size
                    %span.ml-2
                      %i.fas.fa-thumbs-down
                  %span.tag
                    %b.mr-2 #{ @post.comments.count }
                    #{ t 'comment' }(s) &nbsp;
                    %span
                      %i.fas.fa-comment-alt

          .show_description
            %p #{ @post.body }

          .post_comments
            = render 'comments/form', origem: @post

          - if @post.comments.any?
            = render 'comments/comments', commenter: @post.comments

        .grid_aside
          = render 'users/perfil_follow', profile: @post.user
          = render 'shared/tags'

%script{src: "https://vjs.zencdn.net/7.10.2/video.min.js"}
