%main
  = render 'shared/banner'
  .container
    .wrapper_content
      .wrapper_grids
        .grid_content
          - @posts.each do |post|
            .blog_container
              = link_to post_path(post) do
                .blog_header
                  = get_image(post)
              .blog_main
                .blog_main_header
                  .main_header_perfil
                  .main_header_comments
                    #icons.mr-2
                      .tags.has-addons
                        %span.tag
                          780 &nbsp;
                          %span
                            %i.fas.fa-thumbs-up
                        %span.tag
                          21 &nbsp;
                          %span
                            %i.fas.fa-thumbs-down
                        -# %span.tag
                          Share &nbsp;
                          %span
                            %i.fas.fa-retweet
                        %span.tag
                          544 Comments &nbsp;
                          %span
                            %i.fas.fa-comment-alt
                .blog_main_content
                  %h3.titles
                    #{ post.title }
                  %p
                    #{ truncate(strip_tags(post.body.to_s), length: 120) }
                .blog_main_footer
                  .footer_tag
                    - if post.tag_list.any?
                      .tag_detail
                        -# %strong Tags:
                      #{ raw post.tag_list.map { |t| link_to t, tag_path(t) }.join(' ') }
                  .footer_date.has-text-right
                    %span
                      #{ t 'by' } #{ post.user.name }
                    %span
                      #{ l post.created_at, format: :long }
        .grid_aside
          .aside_container
            .titles
              %i.fas.fa-tags
              tags
            = render 'shared/tags'
